<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous" /></script>
  </head>
  <body>
    <div class="mx-auto d-flex justify-content-between mt-5" style="height: 100vh; max-width: 1000px;">
      <div class="container-sm pt-5">
        <form action="/create" class="row gy-2" method="post">
          <div class="col-md-6">
            <label class="form-label" for="">Estado</label>
              <select class="form-select" id="state" aria-label="Default select example">
                <option selected>Selecione um estado</option>
                {#for state in states} 
                    <option value="{state.shortName}">{state.fullName}</option>
                {/for}
              </select>
          </div>
          <div class="row pt-2">
            <div class="col-md-6">
              <label class="form-label" for="">Valor da Passagem diaria</label>
              <div class="input-group">
                <span class="input-group-text" id="basic-addon3">R$</span>
                <input name="trafficPrice"  class="form-control currency-format text-start"  type='text'>
              </div>
            </div>
            <div class="col-md-6">
              <label class="form-label" for="">Valor da refeição diaria</label>
              <div class="input-group">
                <span class="input-group-text" id="basic-addon3">R$</span>
                <input name="mealPrice" class="form-control currency-format text-start"  type='text'>
              </div>
            </div>
          </div>
          
          <div class="col-md-12">
            <label  class="form-label" for="">Total de dias trabalhanos por semana</label>
            <div class="d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-start">

              {#for day in days}
                <div class="form-check form-check-inline" >
                  <input name="workedDays" class="form-check-input" type="checkbox" id="inlineCheckbox-{day.getIndex()}" value="{day.getIndex()}">
                  <label class="form-check-label" for="inlineCheckbox-{day.getIndex()}">{day.getDisplayName()}</label>
                </div>
              {/for}
            </div>
          </div>
          <div class="col-md">
            <button type="submit" class="btn btn-primary">Calcular</button>
          </div>
        </form>
      </div>
     
    </div>
   
    <script src="js/jquery.inputmask.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>